nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(107, 76, 76);
    color: white;
    top: 0;
    padding: 16px;
    height: 120px;
}

nav img {
    width: 180px;
    height: 120;
    border-radius: 100%;
}

nav .title {
    font-size: 1.5rem;
    margin: 1rem;
    font-weight: bold;
    text-decoration: none;
    color: rgb(238, 227, 227);
}

nav ul {
    display: flex;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 0.5rem;
    border-radius: 0.5rem;
}

nav ul a:not(.active):hover {
    background-color: #636a86;
}

nav .menu {
    display: none;
    position: absolute;
    top: 0.75rem;
    right: 0.5rem;
    flex-direction: column;
    justify-content: space-between;
    width: 2.25rem;
    height: 2rem;
}

nav .menu span {
    height: 0.4rem;
    width: 100%;
    background-color: #9d8888;
    border-radius: 0.2rem;
}